@import "tailwindcss";

:root {
  --background: #347eda;
  --foreground: #222;
  --primary-dark: #081018;
  --fade-in-animation: fade-in 5s;
}
body {
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  --background: #0b1421;
  --foreground: #e7e7e7;
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}

.bg-background {
  background-color: var(--background);
}
.text-foreground {
  color: var(--foreground);
}

/* Animations */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: var(--fade-in-animation);
}
