@import "tailwindcss";

:root {
  --background: #e5e0e0;
  --foreground: #171717;
  --primary-dark: #081018;
  --fade-in-animation: fade-in 5s;
}

.dark {
  --background: #0a0a0a;
  --foreground: #edededde;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}

/* Animations */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: var(--fade-in-animation);
}
