@media print {
  html,
  body {
    height: auto;
  }
  body {
    background: #fff;
    color: #000;
  }
  a {
    color: #000;
    text-decoration: underline;
  }
  * {
    box-shadow: none !important;
    text-shadow: none !important;
  }
  .no-print {
    display: none !important;
  }
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}
